/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* General */

*{
    margin: auto;
    font-family: "Plus Jakarta Sans", sans-serif;
}

a{
    text-decoration: none;
    color: #475569;
    margin: 0;
    transition: all 0.3s ease-out;
}

a:hover{
    opacity: 0.7;
    transition: all 0.3s ease-out;
}

/* Header */

header{
    max-width: 1152px;
    margin: auto;
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 40px;
}

header nav a{
    font-size: 16px;
    font-weight: 600;
}

#telecharger{
    background: #0F172A;
    color: #fff;
    padding: 15px 20px;
    border-radius: 40px;
}

/* Footer */

footer{
    background: #0F172A;
    color: #475569;
}

footer div{
    max-width: 1152px;
    margin: auto;
    display: flex;
    padding: 50px 0;
}

footer nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 40px;
}

footer div p{
    margin: 0;
}